@charset "utf-8";

/* ======================================================================= */

/* Media queries CSS */
@media (min-width: 768px) {
    .col-md-12 { flex: 0 0 100%;max-width: 100%; }
    .col-md-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }
    .col-md-3 {
        flex: 0 0 25%;
        max-width: 25%;
    }
}

@media only screen and (max-width: 768px) {
    .tablet_none { display: none; }
    .tablet_block { display: block; }

    .theme-col-2 .theme-box, .theme-col-3 .theme-box, .theme-col-4 .theme-box, .theme-col-5 .theme-box {
        flex: 0 0 50%;
        width: 50%;
    }

    h3 { font-size: 6.8vw; }
    h4::after { left: 50%;transform: translateX(-50%); }

    .theme-iconnav { display: none; }

    .mobcenter1 { text-align: center!important; }

    /* 네비게이션 */
    #main-navigation .col-md-12 {
        padding-left: 0;
        padding-right: 0;
    }

    .menu-bar { display: block;padding-left: 15px;padding-right: 15px; }
    .menu-bar a.show-menu { padding: 0; }
    .main-menu>.home-item { display: none; }
    .main-menu>.lang-item { float: none; }
    .main-menu { touch-action: pan-y;display: none; }
    .main-menu>li { float: none; }
    .main-menu>li ul, .main-menu>li ul ul {
        position: relative;
        width: 100%;
        left: auto;
        right: auto;
        top: 0;
        -webkit-box-shadow: 0 0 0 0 transparent;
        -moz-box-shadow: 0 0 0 0 transparent;
        -ms-box-shadow: 0 0 0 0 transparent;
        box-shadow: 0 0 0 0 transparent;
    }
    .main-menu>li>a { padding: 1rem 1.5rem;height: auto;line-height: inherit;border-top: solid 1px #313f49; }

    .lang-flag { left: 15px; }
    .lang-fullname { display: inline-block;padding: 0 0 0 10px; }
    .lang-shortname {display: none;}

    .main-menu .dropdown>a:after { display: none; }

    /* ------------------------------- 등록신청 페이지 ------------------------------- */
    /* step navi */
    .step_navi ul{ display:block; }
    .step_navi ul li{
        width: calc(100%/2 - 3px);
        margin-right:0px;
        margin-bottom:3px;
        line-height: 1.8;
    }
    .step_navi ul li p{ 
        font-size:0.95rem;
        font-weight: 400; 
        padding:10px 15px; 
    }
    .arrow{ 
        width:16px;
        height:16px;
        top: 28px;
        right: 20px;
    }
    .arrow::after{ height:0; }
    /* Table */
    tbody, td, tfoot, th, thead, tr {
        display: block;
        height: auto;
    }
    .apply_table tbody th, .apply_table tbody td {
        width: 100%;
        height: auto;
        padding:15px 10px; /* 셀 내부 간격 조정 */
    }

    /* 수평정렬 테이블 */
    .apply_table.apply_table_horizon .table_list {
        height: 52px;
        overflow: hidden;
        text-align: left;
    }
    .apply_table.apply_table_horizon .table_list.show {
        height: auto;
    }
    .apply_table.apply_table_horizon th, .apply_table.apply_table_horizon td { 
        height: 52px;
        padding: 12px 25px;
    }
    .apply_table.apply_table_horizon td {
        background: #fff;
    }
    .apply_table.apply_table_horizon .iso_label {
        font-weight: 500;
        background: #f7f7f7;
        color:#666;
        position: relative;
        transition: all 0.1s;
    }
    .apply_table.apply_table_horizon .iso_label.active {
        color: #111;
        background: #f1f1f1;
    }
    .apply_table.apply_table_horizon .viewmore {
        padding: 0 0 10px;
    }
    .apply_table.apply_table_horizon .type_show {
        display: inline-block;
        margin-right: 8px;
    }
    /* 수평정렬 테이블 모바일용 arrow 버튼 */
    .apply_table.apply_table_horizon .mobile-arrow {
        display: block;
        width: 36px;
        height: 36px;
        line-height: 36px;
        position: absolute;
        right: 10px;
        top: 50%;
        margin-top: -18px;
        text-align: center;
        font-size: 18px;
        color: #333;
    }
    .apply_table.apply_table_horizon .mobile-arrow:before { /* 기본 화살표 */
        display: inline-block;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        content: '\f107';
        color:#666;
    }
    .apply_table.apply_table_horizon .mobile-arrow.active:before { /* 활성화 됬을때 화살표 */
        content: '\f106';
        color:#111;
    }
    /* 수평정렬 테이블 플러스 버튼 */
    .plus-btn{ display:none; }

    /* 자격정보 입력 > 신청규격 */
    table.apply_table tbody td.iso_check {
        display: flex;
        flex-wrap: wrap;
    }
    table.apply_table tbody td.iso_check label.type_checkbox {
        flex-basis: 50%;
    }

    /* 신청자 정보 입력 > 제출문서 */
    table.in_table tr {
        display: flex;
        justify-content: space-between;
    }
    table.in_table .bd_right { 
        border-right: none;
    }
    table.in_table .no_download {
        width: 48%;
    }

    /* 이메일란 */
    .emailCell{ 
        display:flex; 
        flex-wrap:wrap;
    }
    input#email{ flex-basis:82%; }
    .btn_check{ flex-basis:16%; }

    input[type=text], input[type=number], input[type=tel], input[type=password], select{ width:100%; } /* input 넓이 조정 */
    label.type_checkbox{ width:49%; }
    .text_box_gray{  padding:15px; } /* 상단 제출서류 안내 박스 */
    input#address1{ width:100%; } /* 우편번호주소 */
    input#address2, input#extraAddress{ width: calc(100%/2 - 1.5px); }
    input#extraAddress{ margin-right:0px; }
 
    /* 인증 프로세스 */
    .cert_process_box ul li{
        width: 30.5%;
        margin-right:2%;
        margin-bottom:12px;  
        background:#f9f9f9;
    }
    .arrow-next::after{
        width:12px;
        height:12px;
        right: -20px;
        bottom: 23px;
    }

    /* 개인정보 이용약관 */
    .c-txt { margin-top: 10px; }
    .chk-area { padding: 16px 0 0 20px; }
    .tit-box { height:70px; }
    .acc-lst .tit-box label { width: 100%; }
    #form01 table.type01 tbody th { width: 100%; }
    #form01 table.type01 ul.chk li { flex-basis: 50%; }

    /* 입금내역 안내 */
    .text-box_border{ padding:2rem; }

    .modal_wrap { width: 90%; }

    #form01 table.type01 tbody td.tint_th { border: none; }
    #form01 table .tint_th.bollotBox { position: relative; }
    #form01 table .tint_th.bollotBox::before { display: block; }

    #form01 table.type01 tr .tint_th { padding: 16px 0 0 20px; }
    #form01 table.type01 tr:nth-child(2) .tint_th { padding: 0 0 0 20px; }
    #form01 table.type01 tr:nth-child(5) td { border: none; }

    table.list colgroup col { width: auto !important; }
    table.list tr.list_type01 { 
        height: 45px;
        overflow: hidden;
        text-align: left;
    }
    table.list tr.list_type01.show { height: auto; }
    table.list td { position: relative;width: 100%; }
    table.list td.tal { background: #f7f7f7; }
    table.list td.view_button { padding: 1rem 0 2rem 0; }
    table.list td.custom_name { font-weight: 600; }
    table.list td.custom_name.active { color: #0d6efd; }
    table.list .list_typeN { display: inline-block;padding: 0 6px 0 0; }
    .plus-btn { display: none; }

    table.respncv_none tbody, table.respncv_none td, table.respncv_none tfoot, table.respncv_none th, table.respncv_none thead, table.respncv_none tr { display: revert; }


}

@media only screen and (max-width: 480px) {
    .mobile_none { display: none; }

    .theme-col-2 .theme-box, .theme-col-3 .theme-box, .theme-col-4 .theme-box, .theme-col-5 .theme-box {
        flex: 0 0 100%;
        width: 100%;
    }

    /* ------------------------------- 등록신청 페이지 ------------------------------- */
    /* 인증 프로세스 */
    .cert_process_box ul li{
        width: 100%;
        margin-right:0;
        margin-bottom:20px;  
    }
    .arrow-next::after{
        transform: rotate(135deg);
        width:12px;
        height:12px;
        right: 49%;
        bottom: -22px;
    }
    /* 테이블 */
    input#email{ flex-basis:76%; }
    .btn_check{ flex-basis:20%; }

}